@import url('reset.css');

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
	--font-family: "Roboto", sans-serif;
	--main-color: #2196F3;
	--contrast-color: #fff;
	--dark-gray-color: #212121;
	--light-gray-color: #757575;
    --logo-color: #AFB1B8;
    --bg-dark-gray: #2F303A;
	--bg-white: #fff;
    --bg-light-gray: #F5F4FA;
}

html,
body {
	height: 100%;
    font-family: var(--font-family);
	color: var(--bg-white);
    font-weight: 400;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.title {
	font-weight: 700;
	font-size: 36px;
}

/* HEADER */

.header {
    padding: 32px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #ECECEC;
}

.header-logo {
    width: 144px;
	height: 20px;
}

.header-list {
    margin-left: 94px;
    display: flex;
    gap: 50px;
    align-items: center;
    height: 24px;
}

.header-link {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-gray-color);
    text-decoration: none;
}

.header-link.active, .header-link.email {
    color: var(--main-color);
}

.header-link:hover {
    color: var(--main-color);
}

.header-link.email:hover {
    text-decoration: underline;
}

.header-link.phone {
    color: #757575;
}

.header-link[aria-current="header-link"] {
    color: var(--main-color);
}

.header-info {
    margin-left: auto;
    display:flex;
    align-items: center;
    gap: 50px;
}

.header-list ul {
    min-width: 132px;
    background-color: var(--bg-light-gray);
    z-index: 5;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.header-list li {
    position: relative;
}

.menu-list {
    padding: 4px 0px;
    display: none;
}

.menu-list a {
    display:block;
    padding: 12px 20px;
}

ul.submenu-list {
    padding: 4px 0px;
    display: none;
    top: 0;
    left: auto;
    right: 100%;
}

.header-list li:last-child:hover .menu-list {
    display: block;
}

.menu-list li:last-child:hover .submenu-list {
    display: block;
}

/* HERO */

.hero {
    background: #000 url('../img/hero_bg.jpg') no-repeat 50% / cover;
    position: relative;
}

.container-hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .5);
}

.container-hero {
    min-height: 600px;
	display: flex;
    flex-direction: column;
    gap: 30px;
	align-items: center;
	justify-content: center;
}

h1 {
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    max-width: 696px;
    position: relative;
}

.cta {
   background-color: var(--main-color); 
   font-weight: 700;
   font-size: 16px;
   line-height: 30px;
   letter-spacing: 0.06em;
   vertical-align: center;
   text-decoration: none;
   color: var(--contrast-color);
   padding: 10px 46px;
   border-radius: 4px;
   position: relative;
}

/* ABOUT */

.about {
    padding-top: 94px;
}

.container-about {
    display: flex;
    gap: 30px;
}

.about-card {
    flex: 1 1 25%;
    width: 100%;

}

.about-card::before {
    content: '';
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    display: block;
}

.about-card:nth-child(1)::before {
    background: #F5F4FA url('../img/antenna\ 1.png') no-repeat 50% / 70px;
}

.about-card:nth-child(2)::before {
    background: #F5F4FA url('../img/clock\ 1.png') no-repeat 50% / 70px;
}

.about-card:nth-child(3)::before {
    background: #F5F4FA url('../img/diagram\ 1.png') no-repeat 50% / 70px;
}

.about-card:nth-child(4)::before {
    background: #F5F4FA url('../img/astronaut\ 1.png') no-repeat 50% / 70px;
}

.about-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-gray-color);
    margin-bottom: 10px;
}

.about-description {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #757575;
    line-height: 24px;
}

/* SERVICES */

.services {
    margin: 94px 0px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: var(--dark-gray-color);
    text-align: center;
    margin: 0px 0 50px;
}

.services-img {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.services-img > div {
    height: 294px;
    flex: 1 1 30%;
}

.services-img > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEAM */

.team {
    padding: 94px;
    background-color: var(--bg-light-gray);
}

.team-cards {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.team-card {
    background-color: var(--bg-white);
    box-shadow: 
    0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.team-img {
    width: 100%;
	height: 290px;
	object-fit: cover;
}

.team-info {
    padding: 30px;
}

.social-media-container {
    margin-top: 16px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-media-container a {
    display: flex;
    height: 44px;
    width: 44px;
    background-color: var(--bg-white);
    color: var(--logo-color);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.1s linear;
}

.social-media-container svg {
 height: 20px;
 width: 20px;
 color: var(--logo-color);
}


.social-media-container a:hover {
    background-color: var(--main-color);
    transform: scale(0.9);
}

.social-media-container a:hover svg {
    color: var(--contrast-color);
}

h3.name {
font-size: 16px;
font-weight: 500;
letter-spacing: 0.03em;
color: var(--dark-gray-color);
margin-bottom: 10px;
text-align: center;
}

.position {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
}

/* REGULAR CUSTOMERS */

.customers {
    padding: 94px 0;
}

.customers-content {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.customers-content li {
    flex: 1 1 16%;
}

.customers-content a {
    padding: 15px;
    border: 1px solid var(--logo-color);
    color: var(--logo-color);
    display: block;
    text-align: center;
}

.customers-content svg {
    width: 106px;
    height: 60px;
}

.customers-content a:hover {
    --logo-color: var(--main-color);
}


/* FOOTER */

.footer {
    padding: 60px 0;
    background-color: var(--bg-dark-gray);
}

.footer-container {
    display: flex;
    gap: 129px;
}

.footer-container > img {
    display: block;
    margin-bottom: 20px;
}

.footer-list {
    margin-top: 20px;
}

.footer-link {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--contrast-color);
    margin-bottom: 9px;
    text-decoration: none;
}

.footer-address {
    color:var(--contrast-color);
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-list li:not(:first-child) a {
    opacity: 0.6;
}

h4 {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 700;
}

.right-column {
    --logo-color: --contrast-color;
    display: flex;
    flex-direction: column;
}

.right-column a {
    background-color: rgba(255, 255, 255, 0.1);
}

/* PORTFOLIO */

/* .cases {
} */

.container-cases {
    margin: 90px auto;
}
.segmented-control {
    margin-bottom: 50px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.sc-item {
    padding: 6px 25px;
    color: var(--dark-gray-color);
    background-color: var(--bg-light-gray);
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    border-radius: 4px;
}

.sc-item-active, .sc-item:hover {
    background-color: var(--main-color);
    color: var(--contrast-color);
    box-shadow:
    0px 3px 1px 0px rgba(0, 0, 0, 0.10),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.cases-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.individual-case {
    border: 1px solid #eeeeee;
    flex: 1 1 30%;
}


.individual-case:hover .hover-overlay {
    opacity: 1;
}

.case-img {
	height: 294px;
    position: relative;
}

.case-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hover-overlay {
    background-color: rgba(33, 150, 243, .9);
    padding: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.3s linear;

}

.hover-overlay p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
}

.individual-case:hover {
    box-shadow:
    0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.case-info {
    padding: 20px 24px;
}

h2.case-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--dark-gray-color);
    margin-bottom: 4px;
    text-align: left;
}

p.case-category {
    font-weight: 400;
    font-style: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--light-gray-color);
}

.hidden {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}