* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

table {
	border-collapse: collapse;
}

table,
td,
th {
	border: 2px solid blueviolet;
}

.container {
	width: 600px;
	margin: 0 auto;
}

.table-container {
	width: 100%;
}